@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body {
  background-color: rgb(240, 236, 235);
}
.top-header {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.top-header p {
  margin-right: 11rem;
}

.logo {
  position: absolute;
  width: 142px;
  height: 36px;
  left: 67px;
  top: 18px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: rgba(48, 44, 44, 0.74);
}

.aside {
  display: flex;
  margin-left: 1.5rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
}

.aside-menu {
  margin: 10.2rem 1rem;
  width: 250px;
  height: 22vh;
  padding-top: 0.5rem;
  background-color: #fffcfb;
}

.user-info {
  border: 2px solid whitesmoke;
  background-color: rgb(247, 242, 241);
  display: flex;
  width: 20%;
  margin-top: 1rem;
  margin-left: 75%;
  padding: 7px;
  padding-left: 8px;
  border-radius: 5px;
  justify-content: space-evenly;
}
.form-container {
  display: flex;
}

.form {
  width: 80%;
  height: 80vh;
  margin-top: 4.7rem;
  margin-left: -10px;
}

.form .first-six {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  padding-bottom: 0.6rem;
  margin-top: 3.15rem;
  justify-content: space-between;
}

.form .first-six input {
  padding: 0.8rem;
  width: 30%;
  border: 1.5px solid rgb(226, 223, 223);
  margin-bottom: 4px;
  border-radius: 5px;
}
.select {
  padding: 0.8rem;
  width: 30%;
  border: 1.5px solid rgb(226, 223, 223);
  border-radius: 5px;
}

.form .last-six {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  padding-bottom: 3rem;
}
.form .last-six input {
  padding: 0.8rem;
  width: 30%;
  border: 1.5px solid rgb(226, 223, 223);
  margin-bottom: 4px;
  border-radius: 5px;
}

.form .last-six .address {
  display: flex;
  justify-content: space-between;
}
.form .last-six .address input {
  width: 49.5%;
}
.form .last-six .address-additonal-info {
  display: flex;
  justify-content: space-between;
}

.form .last-six .address-additonal-info input {
  width: 33%;
}

.form .last-six Button {
  width: 20%;
  background-color: rgb(251, 41, 41);
  margin-top: 1rem;
}
.manage-account a {
  display: flex;
  text-decoration: none;
  color: black;
}

.people-outline a {
  display: flex;
  text-decoration: none;
  color: black;
}

.MuiTableContainer-root {
  margin-top: 11.2%;
}

.table-aside {
  display: flex;
}

.student {
  display: flex;
}

.student-details {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-left: 9rem;
  margin-top: 5rem;
  border-radius: 7px;
  box-shadow: 5px 5px gray;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.student-details h4 {
  margin-top: 7px;
  font-size: 20px;
  color: rgb(244, 135, 96);
  margin-left: 2rem;
}

.student-details p {
  margin-top: 7px;
  font-size: 25px;
  color: rgb(244, 135, 96);
  margin-left: 2rem;
}

.inside-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.student-details span {
  font-weight: 600;
  font-size: 25px;
}

.span {
  margin-left: -18rem;
}

.student-details .class,
.name,
.rollno,
.pincode,
.city {
  margin-top: 1.3rem;
}

.student-details .address {
  margin-top: -0.4rem;
}
